<div class="box">
    <div>
        <div class="logo">
            <img class="" src="assets/handyLogo.png" alt="Logo" height="100">
        </div>

        <div class="login">
            <div class="textLogIn"><h1>Registrarse</h1></div>
            

            <form class="">
                <div class="row">
                <div class="col colizq">
                    <label class="form-label" for="floatingInput">Cédula</label>
                    <app-user-input #ci class="" [inputLabel]="'Cédula'"
                        [inputTypeAutocomplete]="'nickname'" [inputType]="'number'" (keyup)="checkCI()">
                    </app-user-input>
                </div>

                <div class="col colder">
                    <label class="form-label" for="floatingInput">Nombre de usuario</label>
                    <app-user-input #username class="" [inputLabel]="'Nombre de usuario'"
                        [inputTypeAutocomplete]="'nickname'" (keyup)="checkUsername()">
                    </app-user-input>
                </div>
                </div>

                

                <div class="row">
                <div class="col colizq">
                    <label class="form-label" for="floatingInput">Nombre</label>
                    <app-user-input #name class="" [inputLabel]="'Nombre'"
                        [inputTypeAutocomplete]="'nickname'">
                    </app-user-input>
                </div>

                <div class="col colder">
                    <label class="form-label" for="floatingInput">Apellido</label>
                    <app-user-input #lastname class="" [inputLabel]="'Apellido'"
                        [inputTypeAutocomplete]="'nickname'">
                    </app-user-input>
                </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="floatingInput">Email</label>
                    <app-user-input #email class="" [inputLabel]="'Email'"
                        [inputTypeAutocomplete]="'nickname'" (keyup)="checkEmail()">
                    </app-user-input>
                </div>

                <div class="form-group">
                    <label for="floatingPassword">Contraseña</label>
                    <app-user-input #password class="" [inputLabel]="'Contraseña'"
                        [inputTypeAutocomplete]="'password'" [inputType]="'password'">
                    </app-user-input>
                </div>

                <div class="row">
                <div class="col colizq">
                    <label class="form-label" for="floatingInput">Fecha de nacimiento</label>
                    <app-user-input #birthday class="" [inputLabel]="'Fecha de nacimiento'"
                        [inputTypeAutocomplete]="'date'" [inputType]="'date'">
                    </app-user-input>
                </div>

                <div class="col colder">
                    <label class="form-label" for="floatingInput">Código de invitación</label>
                    <app-user-input #referredCode class="" [inputLabel]="'Codigo de invitacion'"
                        [inputTypeAutocomplete]="'nickname'">
                    </app-user-input>
                </div>
                </div>

                <div class="form-group buttonCenter">
                    <button type="button" class="" (click)="register()" #registerButton>Registrarse</button>
                </div>
            </form>

        </div>
    </div>
</div>