<div class="problemInfo">
    <div class="problemPic">
        <img class="problemImg" src="{{problem?.imageURL}}" alt="">
    </div>
    <div class="problemData">
        <h3>{{problem?.name}}</h3>
        <span><i class="bi bi-calendar"></i> {{dateString}}</span>
        <div *ngIf="!fullInfo">
            <app-skill-list class="skills" [skills]="problemSkillsIds" [option]="'problemInfo'"></app-skill-list>
        </div>
        <div *ngIf="fullInfo">
            <span><i class="bi bi-x-circle"></i> {{this.isResolvedMessage}}</span>
            <span><i class="bi bi-geo-alt"></i> {{this.problemDistance}}</span>
        </div>
    </div>
</div>
