<label for="fileInput" class="upload-button">
  <input id="fileInput" type="file" (change)="onFileSelected($event)" accept="image/*">
  <span class="photo" *ngIf="isFileSelected">
    <img [src]="selectedFileURL" alt="Selected Image">
  </span>
  <span class="button" *ngIf="!isFileSelected"><i class="bi bi-plus-square-dotted"></i></span>
</label>

<!-- <div class="modal fade" tabindex="-1" id="{{idNumber}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">¿Eliminar Foto?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Desea eliminar la imagen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="deleteFile()">Si</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
</div> -->