<div class="info-box">
    <div class="first-section ms-3 me-3 mb-3 pt-3">
        <!--
        <app-problem [problem]="this.problem" [fullInfo]="true"></app-problem> 
        -->
        <app-new-problem-info [problem]="this.problem" [fullInfo]="true"></app-new-problem-info>  
    </div>
    <div class="ms-3 mt-3 me-3 description">
        <h5>Descripcion</h5>
        <p>{{problem?.description}}</p>
    </div>
    <div class="ms-3 me-3">
        <h5>Habilidades necesarias</h5>
        <app-skill-list class="skills" [skills]="problemSkillsIds" [option]="'problemInfo'"></app-skill-list>
    </div>
</div>  