<div class="user-info-box">
    <div class="profileInfo">
        <div class="profile">
            <img class="profilePic" src="{{User?.profileImage}}" alt="Avatar">
        </div>
        <div class="info">
            <h5>{{User?.firstname}} {{User?.lastname}}</h5>
            <p><i class="bi bi-envelope"></i>{{User?.email}}</p>
            <p><i class="bi bi-people"></i>{{User?.friendsAmount}} Amigos</p>
            <p><i class="bi bi-calendar-event"></i>{{joinedDateString}}</p>
        </div>
    </div>
</div>  