.userInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

img{
    border-radius: 13px;
    width: 80px;
    height: 80px;
    margin-top: 7px;
}

.userDetails{
    margin-left: 10px;
}

span{
    color: black;
    opacity: 50%;
}