<div class="editbtn d-flex justify-content-between">
    <div class="editprofile" data-bs-toggle="modal" data-bs-target="#editModal"><h2>Editar perfil</h2></div>
    <div class="editprofile" data-bs-toggle="modal" data-bs-target="#changeModal"><h2>Cambiar contraseña</h2></div>
</div>


<!-- Modal editar perfil -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar descripción</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label>Cambiar foto de perfil</label>
            </div>
            <div class="mb-3">
              <button class="btn btn-secondary">Subir foto</button>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Descripción:</label>
              <textarea class="form-control" id="message-text">{{User?.description}}</textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changedescription()">Editar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal Cambiar contraseña -->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="changeModalLabel">Cambiar contraseña</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nueva contraseña:</label>
              <input type="password" class="form-control" id="password1">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Repetir contraseña:</label>
              <input type="password" class="form-control" id="password2">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="changepass()">Cambiar contraseña</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>