<div class="info-box">
    <div class="profileInfo">
        <div class="profile">
            <img class="profilePic" src="{{User?.profileImage}}" alt="Avatar">
        </div>
        <div class="info">
            <h1>{{User?.firstname}} {{User?.lastname}}</h1>
            <p>{{User?.email}}</p>
            <p>10 Amigos</p>
            <p>Fecha nacimiento</p>
        </div>
    </div>
    
    <div class="ms-3 mt-3 me-3 description">
        <h4>Descripción</h4>
        <p>{{User?.description}}</p>
    </div>
</div>  