<div *ngIf="solved=='CLOSED'" class="exterior">
    <div class="solvedSpan">
        <span class="badge text-bg-success">Resuelto</span>
    </div>
    <div class="solvedDate solved">
        <span><i class="bi bi-calendar"></i></span>
        <p>{{string}}</p>
    </div>
</div>

<div *ngIf="solved=='OPEN'" class="exterior">
    <div class="pendingSpan">
        <span class="badge text-bg-danger">Pendiente</span>
    </div>
    <div class="editButton">
        <span (click)="editProblem()" ><i class="bi" [ngClass]="iconClass" (mouseenter)="changeIcon(true)" (mouseleave)="changeIcon(false)"></i></span>
    </div>
    <div class="trashButton">
        <span data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3"></i></span>
    </div>
</div>