<div class="box">
    <div>
        <div class="logo">
            <img class="" src="assets/handyLogo.png" alt="Logo" height="100">
        </div>
        
        <div class="login">
            <div class="textLogIn"><h1>Iniciar Sesión</h1></div>
            
            <form class="">

                <div class="form-group">
                    <label class="form-label" for="floatingInput">Cédula</label>
                    <app-user-input #username class="" [inputLabel]="'Cédula'"
                        [inputTypeAutocomplete]="'nickname'" onkeydown="login()">
                    </app-user-input>
                </div>

                <div class="form-group">
                    <label for="floatingPassword">Contraseña</label>
                    <app-user-input #password class="" [inputLabel]="'Contraseña'"
                        [inputTypeAutocomplete]="'password'" [inputType]="'password'" onkeydown="login()">
                    </app-user-input>
                </div>

                <div *ngIf="invalidCredentials"  class="alert alert-danger mb-2" role="alert">
                    <small>Credenciales inválidas</small>
                </div>

                <div *ngIf="emptyCredentials"  class="alert alert-danger mb-2" role="alert">
                    <small>Los campos no pueden ser vacíos</small>
                </div>

                <div class="form-group buttonCenter">
                    <button type="button" class="" (click)="login()">Iniciar Sesión</button>
                </div>


                <div class="textCenter">
                    <label class="labelText" (click)="register()">Registrarse</label><br>
                </div>

            </form>

        </div>
    </div>
</div>