*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120.61deg, #0054B6 0%, #03B3FF 100%);
}

.logo{
    display: flex;
    justify-content: center;
}

.textLogIn{
    display: flex;
    justify-content: center;
}

.login{
    width: 381px;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFF;
}

.login h1{
    font-size: 30px;
    color: #1E1E1E;
    align-items: center;
}

.login form{
    font-size: 20px;
}

.login form .form-group{
    margin-bottom: 12px;
}

.buttonCenter{
    display: flex;
    justify-content: center;
}

.textCenter{
    display: flex;
    justify-content: center;
}

.labelText{
    font-size: 15px;
    color: #1E1E1E;
}

button{
    width: 182px;
    height: 41px;
    background: #62C6FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    border: none;
}

button:hover {background-color: #62C6FC}

button:active {
    background-color: #4288ad;
  }
