.search-box{
    display: flex;
    height: 100%;
    width: 80vw;
    background-color: #CAF0F8;
    padding-left: 1%;
    padding-top: 2%;
    flex-direction: column;
    justify-content: center;
}

.buscador{
    padding-left: 5%;
}