h3{
    margin-left: 6vw;
}

.tagsButtonContainer{
    display: flex;
    justify-content: space-between;
}

.tags{
    margin-left: 6vw;
}

.buttonContainer{
    margin-right: 6vw;
}

.seeAllTag{
    margin-right: 10px;
}

.seeResolvedTag{
    margin-right: 10px;
}