.skillbox{
    background-color: skyblue;
}

.skillbox {
    border-radius: 13px;
    background-color: white;
    width: 45vw;
    height: 20vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 7%;
    //margin-top: 30px;
}

h2 {
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding-top: 1%;
}

.btnbox{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    //padding-left: 15%;
    //padding-right: 15%;
    //padding-top: 3%;
}

.editbtn{
    width: 165px;
    height: 34px;
    background: #FFB703;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}