.panel {
    background-color: white;
    height: 100vh;
    width: 20vw;
    justify-content: center;
}

p {
    margin-top: auto;
    margin-bottom: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.side-btn.opened {
    background-color: rgba(99, 247, 156, 0.3);
    background-image: none;
    -webkit-transition: background 600ms ease-in-out;
    transition: background 200ms ease-in-out;
}

.side-btn.focused {
    color: rgb(5, 197, 78);
}

.side-second-btn {
    background-color: white;
    width: 70%;
    margin-left: 20%;
    border: none;
    border-left: solid 2px rgb(192, 192, 192);
    padding-top: 5%;
    padding-bottom: 5%;
}

.side-second-btn p:hover {
    font-weight: 700;
}

.collapse.show,
.collapsing {
    display: flex;
    flex-wrap: wrap;
}

.expanded {
    display: flex;
    justify-content: flex-end;
}

.bi-arrow-right-short {
    //margin-left: 30%;
    font-size: large;
}

.button-hov {
    border-radius: 0px 13px 13px 0px;
    width: 90%;
    height: 7%;
    padding-left: 15%;
    text-align: start;
    border: none;
    background-color: rgba(99, 247, 156, 0.3);
    background-image: linear-gradient(to bottom, white, white 100%);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 600ms ease-in-out;
    transition: background 200ms ease-in-out;
}

.button-hov:hover {
    background-position: -500%;
    transition: background 600ms ease-in-out;
    border-left: solid 3px rgba(99, 247, 156, 1);
}

.first {
    margin-top: 50%;
}

.left-line {
    border-left: solid 3px rgb(5, 197, 78);
    color: rgb(5, 197, 78);

    p {
        font-weight: 700;
    }
}