<div class="panel">
    <div class="logo">
        <img src="assets/handyLogo.png" alt="logo" height="90px">
    </div>
    <div class="botonesbox">
        <div class="boton">
            <button type="button" class="main-btn" [ngClass]="{'selected' : problems}" (click)="goProblems()"><i class="bi bi-p-circle"></i>Problemas</button>
        </div>
        <div class="boton">
            <button type="button" class="main-btn" [ngClass]="{'selected-main' : chats}" (click)="goChatsMyProblems()"><i class="bi bi-chat"></i>Chats</button>     
        </div>
        <div class="boton">
            <button type="button" class="sub-btn" [ngClass]="{'selected-sub' : chats_myproblems}" (click)="goChatsMyProblems()">Mis problemas</button>     
        </div>
        <div class="boton">
            <button type="button" class="sub-btn" [ngClass]="{'selected-sub' : chats_otherproblems}" (click)="goChatsOtherProblems()">Otros problemas</button>     
        </div>
        <div class="boton">
            <button type="button" class="main-btn" [ngClass]="{'selected-main' : friends}" (click)="goFriendsMyFriends()"><i class="bi bi-people"></i>
                Amigos</button>     
        </div>
        <div class="boton">
            <button type="button" class="sub-btn" [ngClass]="{'selected-sub' : friends_myfriends}" (click)="goFriendsMyFriends()">Mis amigos</button>     
        </div>
        <div class="boton">
            <button type="button" class="sub-btn" [ngClass]="{'selected-sub' : friends_addfriends}" (click)="goFriendsAddFriends()">Agregar amigos</button>     
        </div>
        <div class="boton">
            <button type="button" class="main-btn" [ngClass]="{'selected' : profiles}" (click)="goProfilesMyProfile()"><i class="bi bi-person-circle"></i>Perfiles</button>     
        </div>
        <div class="boton">
            <button type="button" class="sub-btn" [ngClass]="{'selected-sub' : profiles_myprofile}" (click)="goProfilesMyProfile()">Mi perfil</button>     
        </div>
        <div class="boton">
            <button type="button" class="sub-btn" [ngClass]="{'selected-sub' : profiles_myproblems}" (click)="goProfilesMyProblems()">Mis problemas</button>     
        </div>
        <div class="boton">
            <button type="button" class="sub-btn" (click)="logout()">Cerrar sesión</button>     
        </div>
    </div>
</div>
