.exterior{
    display: flex;
    flex-direction: row-reverse;
    background-color: #CAF0F8;
}

.header {
    position: fixed;
    width: 100vw;
}


.app-body {
    padding-top: 100px;
    width: auto;
}

.app-skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.top-bar{
    position: fixed;
    top: 0;
}
