.exterior{
    display: flex;
    flex-direction: row-reverse;
    background-color: #CAF0F8;
}

.header {
    position: fixed;
    //top: 0;
    width: 100vw;
    //height: 8vh;
}

.side-nav{
    //position: fixed;
    //left: 0;
}

.app-body {
    padding-top: 100px;
    width: auto;
    //height: auto;
    //padding-top: 500px;
    //background-color: rgba(189, 109, 109, 0.8);
    //border-radius: 13px 13px 0px 0px;
}

.app-skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.top-bar{
    position: fixed;
    top: 0;
}