.exterior{
    margin-top: 75px;
}

.window{
    display: flex;
    height: 90vh;
    width: 80vw;
    background-color: #CAF0F8;
}

.skills{
    position: absolute;
    margin-top: 580px;
    z-index: 100;
}