.exterior{
    margin-top: 85px;
    height: 80vh;
}

.profile-info{
    display: flex;
    height: 80vh;
    width: 80vw;
    background-color: #CAF0F8;
    padding-left: 3%;
}

.padding-left, .padding-left{
    height: auto;
}

.h {
    display: flex;
}


.secondary-button {
    width: 48.5%;
}
.buttons-ajust {
    display: flex;
    height: 28%;
    justify-content: space-between;
}

.padding-left {
    padding-left: 4%;
}

.left-column {
    width: 30.5vw;
}

.chat-button {
    width: auto;
    height: auto;
}
