<div class="item">
    <div class="info" (click)="showprofile()">
        <img src="{{user?.profileImage}}" alt="logo" height="90px" width="90px"/>
        <div class="info-text">
            <p class="nombre">{{user?.firstname}} {{user?.lastname}}</p>
            <p class="tiempo">{{joinedDateString}}</p>
            <p class="amigos"><i class="bi bi-people"></i>{{user?.friendsAmount}} amigos</p>
            <p class="email"><i class="bi bi-envelope"></i>{{user?.email}}</p>
        </div>
    </div>
    <div class="botones">
        <button type="button" class="boton" (click)="showproblems()">Ver problemas</button>
        <button type="button" class="boton" [ngClass]="{'noamigo': user?.friendshipStatus == 0, 'amigo' : user?.friendshipStatus == 1, 'solicitudenviada' : user?.friendshipStatus == 2, 'solicitudrecibida' : user?.friendshipStatus == 3}" (click)="buttonModal()">{{botonText}}</button>
    </div>
</div>

<!--data-bs-toggle="modal" data-bs-target="#friendsModal"-->

<!-- Modal Cambiar contraseña -->
<div class="modal fade" id="friendsModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="changeModalLabel">{{modaltitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="modaltext">{{modaltext}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalbutton" (click)="buttonFriends()">{{modalbutton}}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>