.friends-box{
    display: flex;
    height: 100vh;
    width: 80vw;
    background-color: #CAF0F8;
    padding-left: 1%;
    padding-top: 2%;
    flex-direction: column;
}

.buscador{
    padding-left: 5%;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.lista::-webkit-scrollbar {
    display: none;
  }