<div class="longCard" *ngIf="option=='problems'">
    <div class="problemInfo">
        <app-problem [problem]="problem"></app-problem>
    </div>
    <div class="userInfo" *ngIf="user">
        <app-user-card [user]="user"></app-user-card>
    </div>
    <div class="distanceInfo">
        <i class="bi bi-geo-alt"></i>
        <span>{{this.formateDistance(this.problem!.distance)}}</span>
    </div>
</div>

<div class="longCard2" *ngIf="option=='my-problems'">
    <div class="problemInfo">
        <app-problem [problem]="problem"></app-problem>
    </div>
    <div class="buttons">
        <app-action-buttons (editProblemEmitter)="editProblem()" [solved]="problem?.status"></app-action-buttons>
    </div>  
</div>
