<div class="longCard" *ngIf="option=='problems'">
    <div class="problemInfo">
        <app-problem [problem]="problem"></app-problem>
    </div>
    <div class="userInfo">
        <app-user-card [userId]="userId"></app-user-card>
    </div>
</div>

<div class="longCard2" *ngIf="option=='my-problems'">
    <div class="problemInfo">
        <app-problem [problem]="problem"></app-problem>
    </div>
    <div class="buttons">
        <app-action-buttons [solved]="problem?.status"></app-action-buttons>
    </div>  
</div>


