// .longCard{
//     display: flex;
//     flex-direction: row;
//     margin: 10px;
//     padding: 10px;
//     width: 70vw;
//     border-radius: 13px;
//     border: 1px solid #ccc;
//     box-shadow: 0 0 10px rgba(0,0,0,0.5);
//     transition: all 0.3s ease-in-out;
//     cursor: pointer;
//     background-color: white !important;
//     &:hover{
//         transform: scale(1.01);
//     }
// }

i {
    font-size: xxx-large;
}

.longCard{
    background-color: white;
    width: 70vw;
    height: 15vh;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 10px;
    margin-bottom: 10px;
}

.problemInfo{
    width: 50%;
}

.buttons{
    display: flex;
    align-items: center;
}

.longCard2{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border-radius: 13px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: white !important;
    &:hover{
        transform: scale(1.01);
    }
    justify-content: space-between;
}

.distanceInfo{
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 20%;
}

span {
    margin-bottom: auto;
    height: fit-content;
    margin-top: auto;
}
