<div class="longCard" *ngIf="option=='problems'">
    <div class="problemInfo">
        <app-problem [problem]="problem" routerLink="/problems/{{problem?.id!}}" ></app-problem>
    </div>
    <div class="userInfo" *ngIf="user">
        <app-user-card [user]="user" routerLink="/profile/{{user.id}}"></app-user-card>
    </div>
    <div class="distanceInfo">
        
    </div>
</div>

<div class="longCard2" *ngIf="option=='my-problems'">
    <div class="problemInfo">
        <app-problem [problem]="problem" routerLink="/problems/{{problem?.id!}}"></app-problem>
    </div>
    <div class="buttons">
        <app-action-buttons (editProblemEmitter)="editProblem()" [solved]="problem?.status"></app-action-buttons>
    </div>  
</div>


