<div class="problem-info" *ngIf="this.viewOption == 'otherView'">
    <div class="padding">
        <app-problem-general-info [problem]="this.problem"></app-problem-general-info> 
        <div class="chat-button">
            <app-button [type]="'contact'" [label]="this.contactLabel"></app-button>
        </div>
    </div> 
    <div class="padding-left">
        <app-problem-user-info [User]="this.importantUserInfo"></app-problem-user-info>
        <img class="mt-4" src="https://i.stack.imgur.com/sqh4L.png">
    </div>
</div>

<div class="problem-info" *ngIf="this.viewOption == 'myView'">
    <div class="padding">
        <app-problem-general-info [problem]="this.problem"></app-problem-general-info> 
        <div class="buttons-ajust">
            <div class="secondary-button">
                <app-button [type]="'chat'" [label]="'Chats'"></app-button>
            </div>
            <div class="secondary-button">
                <app-button [type]="'edit'" [label]="'Editar'"></app-button>
            </div>
        </div>
    </div> 
    <div class="padding-left left-column">
        <img class="user-view" src="https://i.stack.imgur.com/sqh4L.png">
        <app-button [type]="'pending'" [label]="'Pendiente'"></app-button>
    </div>
</div>

<div class="problem-info complete-view" *ngIf="this.viewOption == 'myCompleteView'">
    <div  class="h">
        <div class="padding">
            <app-problem-general-info [problem]="this.problem"></app-problem-general-info> 
        </div> 
        <div class="padding-left all">
            <app-problem-user-info></app-problem-user-info>
            <div class="mt-4">
                <app-problem-review></app-problem-review>
            </div>
        </div>
    </div>
    <div class="complete-button">
        <app-button [type]="'complete'" [label]="'Realizado'"></app-button>
    </div>
</div>
