.noProblems{
    display: flex;
    flex-direction: column;
    height: 680px;
    margin-left: 1vw;
    justify-content: center;
    align-items: center;
}
.spinner{
    height: 655px;
    display: flex;
    align-items: center;
}

.gridContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 655px;
    overflow: scroll;
}

.gridContainer::-webkit-scrollbar {
    display: none;
  }

h1{
    font-family: Helvetica, Verdana, Arial;
    font-weight: bold;
}

span{
    font-size: 7em;
}