.noProblems{
    display: flex;
    flex-direction: column;
    height: 680px;
    margin-left: 1vw;
    justify-content: center;
    align-items: center;
}
.spinner{
    height: 655px;
    display: flex;
    align-items: center;
}

.gridContainer{
    margin-left: 4vw;
    align-items: center;
    //justify-content: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    max-width: 90%;
    overflow: scroll;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.problemsGrid{
    height: 600px;
}

.gridContainer::-webkit-scrollbar {
    display: none;
  }

h1{
    font-family: Helvetica, Verdana, Arial;
    font-weight: bold;
}

span{
    font-size: 7em;
}