<div class="spinner" *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>

<div class="gridContainer " *ngIf="problems && !option && problems.length > 0 && !showSpinner">
    <app-long-card *ngFor="let problemX of problems"
    [option]="'problems'"
    [problem]="problemX"
    [user]="problemX.ownerUser"
    ></app-long-card>
</div>

<div class="noProblems" *ngIf="noProblems">
    <span class="bi bi-emoji-wink"></span>
    <h1>No hay problemas para mostrar</h1>
</div>


<div class="problemsGrid" *ngIf="problems && option=='myProblems' && !noProblems">
    <div class="row gx-2 gy-2 w-100 gridContainer ">
        <app-long-card *ngFor="let problemX of problems"
        [option]="'my-problems'"
        [problem]="problemX"
        [user]="problemX.ownerUser"
        ></app-long-card>
    </div>
</div>