<span class="badge rounded-pill text-bg-primary" *ngIf="option=='simple'">{{skill!.name}}</span>

<div *ngIf="option=='withX'" class="pillBadgeWithX">
    <span 
        class="badge rounded-pill text-bg-primary">
        {{skill!.name}}
        <button type="button" class="btn-close" aria-label="Close" (click)="deleteSkill()"></button>
        </span>
</div>


<span *ngIf="option=='modalFilter'"
    [class.selected]="isSpanSelected"
    (click)="addSkillToFilter()"
    class="modalBadge badge rounded-pill text-bg-primary">
    {{skill!.name}}
</span>

<span *ngIf="option=='filter'"
[class.selected]="isSpanSelectedFilter"
(click)="filter()"
class="filterBadge badge rounded-pill text-bg-primary">
{{text}}
</span>
