.pillBadgeWithX{
    display: flex;
    border-radius: 0.5rem;
    color: #212529;
    font-size: 0.875rem;
    line-height: 1.5;
    align-items: baseline;
    width: max-content;
    .badge:hover{
        cursor: pointer;
        background-color: #F6F6F6 !important;
        color: #000000 !important;
    }
    .badge{
        background-color: #ECECEC !important;
        color: #212121 !important;
    }
    .btn-close{
        margin-left: 0.25em;
        height: 0.8em;
        width: 0.8em;
    }
}

.badge{
    margin-left: 3px;
}

.modalBadge{
    background-color: #ECECEC !important;
    color: #212121 !important;
    cursor: pointer;

}
.modalBadge:hover{
    background-color: #80bbee !important;
    color: #000000 !important;
}
.modalBadge.selected{
    background-color: #0d6efd !important;
    color: white !important;
    cursor: pointer;

}

span{
    font-family: Helvetica, Verdana, Arial;
    font-weight:500;
}

.filterBadge{
    color: black !important;
    background-color: #F6F6F6 !important;
    padding: 10px;
    cursor: pointer;
}

.filterBadge.selected{
    background-color: #0077B6 !important;
}
