/* You can add global styles to this file, and also import other style files */

body {
    //background-color: rgba(219, 38, 38, 0.8);
    background-color:#D9D9D9;
}

.first-section h3 {
    font-size: x-large;
    margin-bottom: 1.5%;
}

.first-section span {
    font-size:smaller;
    margin-top: 1.5%;
}