.friends-box{
    display: flex;
    height: 100vh;
    width: 80vw;
    background-color: #CAF0F8;
    padding-left: 1%;
    padding-top: 2%;
    flex-direction: column;
}

.buscador{
    padding-left: 5%;
}

.spinner{
    height: 655px;
    display: flex;
    align-items: center;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.lista::-webkit-scrollbar {
    display: none;
}

.noFriends{
    display: flex;
    flex-direction: column;
    height: 680px;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Helvetica, Verdana, Arial;
    font-weight: bold;
}

span{
    font-size: 7em;
}