<div class="review-box">
    <h3>Reviews</h3>
    <div class="emojis">
        <i class="bi bi-emoji-smile"><p>{{reviews.good}}</p></i>
        <i class="bi bi-emoji-neutral"><p>{{reviews.mid}}</p></i>
        <i class="bi bi-emoji-angry"><p>{{reviews.bad}}</p></i>
    </div>
    <div class="reviewlist">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let problemas of reviews.problems">
                <div class="emoji">
                    <i class="bi bi-emoji-smile" *ngIf="score == 1"></i>
                    <i class="bi bi-emoji-neutral" *ngIf="score == 2"></i>
                    <i class="bi bi-emoji-angry"*ngIf="score == 3"></i>
                </div>
                <div class="review">
                    <h5>{{problemas}}</h5>
                    <p>{{problemas}}</p>
                </div>
            </li>
        </ul>
    </div>
</div> 