<div class="list" *ngIf="option=='problem'">
    <h3>Habilidades necesarias</h3>
    <div class="skillList" *ngIf="skills">
        <app-tag *ngFor="let skillX of skillsList" [skill]="skillX" [option]="'simple'">
        </app-tag>
    </div>
    <div class="skillList">

    </div>
</div>

<div class="listInfo" *ngIf="option=='problemInfo'">
    <app-tag *ngFor="let skillX of skillsList" [skill]="skillX" [option]="'simple'">
    </app-tag>
</div>

<div class="list" *ngIf="option=='searchBar'">
    <app-tag *ngFor="let skillX of skillsList" [skill]="skillX" [option]="'withX'" (sendIdToDelete)="deleteSkill($event)">
    </app-tag>
</div>

<div class="listModal" *ngIf="option=='modal'">
    <app-tag #tag *ngFor="let skillX of skillsList" [skill]="skillX" [option]="'modalFilter'" (sendIdToFilter)="addSkillToFilter($event)">
    </app-tag>
</div>


