<div class="friendbtn notfriends" *ngIf="status == 0" data-bs-toggle="modal" data-bs-target="#addFriend">
    <h2>{{title}}</h2>
</div>

<div class="friendbtn friends" *ngIf="status == 1" data-bs-toggle="modal" data-bs-target="#removeFriend">
    <h2>{{title}}</h2>
</div>

<div class="friendbtn requested" *ngIf="status == 2" data-bs-toggle="modal" data-bs-target="#requestedFriend">
    <h2>{{title}}</h2>
</div>

<div class="friendbtn accept" *ngIf="status == 3" data-bs-toggle="modal" data-bs-target="#acceptFriend">
  <h2>{{title}}</h2>
</div>


<!-- Modal Eliminar amigo-->
<div class="modal fade" id="removeFriend" tabindex="-1" aria-labelledby="removeFriendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="removeFriendLabel">Eliminar amigo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Seguro que quieres eliminar a {{User?.firstname}} {{User?.lastname}} de tus amigos?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="removeFriend()">Si</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar amigo-->
<div class="modal fade" id="addFriend" tabindex="-1" aria-labelledby="addFriendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFriendLabel">Agregar amigo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Quieres agregar a {{User?.firstname}} {{User?.lastname}} a tu lista de amigos?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="addFriend()">Si</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Solicitud enviada-->
<div class="modal fade" id="requestedFriend" tabindex="-1" aria-labelledby="requestedFriendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="requestedFriendLabel">Eliminar solicitud</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Seguro quieres eliminar la solicitud de amistad a {{User?.firstname}} {{User?.lastname}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="removeFriend()">Si</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Aceptar Solicitud -->
<div class="modal fade" id="acceptFriend" tabindex="-1" aria-labelledby="acceptFriendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="acceptFriendLabel">Eliminar solicitud</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Seguro quieres eliminar la solicitud de amistad a {{User?.firstname}} {{User?.lastname}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="acceptFriend()">Si</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>