<div class="search-bar">
    <input type="text" #valorInput placeholder="Buscar amigos" (keyup.enter)="searchFriends(valorInput.value)"/>
    <!--[(ngModel)]="valorInput" (keyup.enter)="searchFriends(valorInput, skills)"-->
    <div class="tags-container">
      <app-skill-list #skillsList [option]="'searchBar'" (sendId)="deleteSkill($event)" [skills]="skillsFilter"></app-skill-list>
    </div>
    <button type="button" class="skillButton" data-bs-toggle="modal" data-bs-target="#SkillListModal"><i class="bi bi-tools"></i></button>
    <button class="searchButton" (click)="searchFriends(valorInput.value)">Buscar</button>
</div>


<!-- Modal -->
<div class="modal fade" id="SkillListModal" tabindex="-1" aria-labelledby="SkillListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="SkillListModalLabel">Habilidades</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-skill-list #skillsModal [option]="'modal'" [skills]="skills" (sendIdsSkillsFilter)="addSkillToFilterTempList($event)"></app-skill-list>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="skillsToFilter()">Editar</button>
      </div>
    </div>
  </div>
</div>