.info-box {
    border-radius: 13px;
    background-color: white;
    width: 40vw;
    height: 60vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.picAndTitle{
    display: flex;
}

app-upload-photo{
    padding-left: 4%;
    padding-top: 4%;
}
.description {
    height: 35%;
}

.problem-info {
    width: 80vw;
    display: flex;
    margin-top: 80px;
    margin-bottom: 5vh;
    padding-left: 7%;
    padding-right: 7%;
}

img {
    object-fit: cover;
    border-radius: 13px;
    width: 24vw;
    height: 60vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.padding-left {
    padding-left: 7%;
}

.left-column {
    width: 30.5vw;
}

textarea{
    resize: none;
    width: 100%;
    height: 25vh;
}

small{
    display: flex;
    flex-direction: row-reverse;
}

.skillbox {
    background-color: white;
    width: 40vw;
    height: 20vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    border: none;
    margin-left: 5.5%;
    padding-left: 2%;
    position: absolute;
}

.skill-list{
    height: 29.99px;
}

.btnbox{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.editbtn{
    width: 200px;
    height: 35px;
    background: #1689F4;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

.buttons{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 7%;
}

.btn-danger{
    margin-right: 2%;
}

.btns{
    font-size: xx-large;
    color: black;
    font-weight: 700;
    height: 20vh;
    width: 11.2vw;
}